body {
    background-color: #f4f4f4;
    overflow: hidden; /* Impede a rolagem */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    box-sizing: border-box;
}

table {
    width: 50%; /* Deixa as tabelas mais largas */
    max-width: 500px;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out; /* Suaviza a ida e a volta */
}

table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
}

h1 {
    font-size: 22px;
    color: #333;
    margin: 10px 0;
}

img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

p {
    color: #666;
    font-size: 16px;
    text-align: center;
}

a{
    text-decoration: none;
    display: inline-block;
}

table:hover{
    transform: translateY(-10px); /* Sobe 3px ao passar o mouse */
    transition: transform 0.5s ease-in-out;
}